<% if difficulty.eql? "Easy" %>
    <h6 class="text-center text-2xl font-bold text-green-600"><%= t :easy%></h6>
<% elsif difficulty.eql? "Medium" %>
    <h6 class="text-center text-2xl font-bold text-orange-600"><%= t :medium %></h6>
<%elsif difficulty.eql? "Hard" %>
    <h6 class="text-center text-2xl font-bold text-red-600"><%= t :hard %></h6>
<% end %>